<div class="header">
<h1>Welcome to Inter<span>Q</span></h1>
</div>
<div class="main">
  <p class="content"> Your Ultimate Interview Scheduling Solution</p>
  </div>

<div class="body">
  At InterQ, we understand that coordinating interviews can be a challenging task. That's why we've designed our app to streamline the process, making it easier than ever for you to schedule interviews efficiently and effectively.
Say goodbye to the hassle of back-and-forth emails and phone calls. 

</div>
  <div class="calendar-container">
  <button class="schedule-button" (click)="routeToTimeslot()"><span class="arrow"></span>Schedule</button>
</div>
