<div class="create-timeslot-container">
  <div class="elevated-card">
    <form [formGroup]="timeslotForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <mat-form-field class="custom-width" appearance="outline">
          <mat-label>Date</mat-label>
          <input type="date" id="date" formControlName="date" matInput placeholder="">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="custom-width" appearance="outline">
          <mat-label>Start Time</mat-label>
          <input type="text" id="startTime" formControlName="startTime" matInput
            placeholder="Enter a time (hh:mm AM/PM)">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="custom-width" appearance="outline">
          <mat-label>Duration (in minutes)</mat-label>
          <input type="number" id="duration" formControlName="duration" matInput placeholder="">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="custom-width" appearance="outline">
          <mat-label>Meeting Link</mat-label>
          <input type="text" id="meetingLink" formControlName="meetingLink" matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="submit-position">
        <button mat-raised-button type="submit" class="submit-button">Create Timeslot</button>
      </div>
    </form>
  </div>
</div>